.App-layout {
  background-color: #052266;
}


.Sidebar {
  background-color: #222;
  color: white;
  float: left;
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  clear:left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lyrics {
  width: 800px;
}

.songform {
  width: 100px;
}

.chords {
  background: transparent;
  border: none;
}

.songtab {
  width:70%;
  height:100%;
  background-color: #052266;
  float: right;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.Logo {
  
  line-height: 5px;
  float: left;
  padding-left: 15px;
  background-color: #87b5ff;
  width: 25%;
}

.New-song {
  background-color: #87b5ff;
  color: rgb(0, 0, 0);
  float: left;
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  clear:left;
  line-height: 8px;
}
