
.Sidebar {
  width: 25%;
  background-color: #222;
  float: left;
  color: white;
  padding: 15px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lyrics {
  width: 800px;
}

.songform {
  width: 100px;
}

.chords {
  background: transparent;
  border: none;
}