.App-layout {
  background-color: #515050;
}

*{
font-family: monospace !important;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lyrics {
  width: 800px;
}

.songform {
  width: 100px;
}

.chords {
  background: transparent;
  border: none;
}

.songtab {
  width:70%;
  color: rgb(255, 255, 255);
  float:right;
  white-space: pre;
}

.welcome {
  text-align: center;
  width:40%;
  background-color: #d6002e;
  padding-top: 20px;
  padding-bottom: 100px;
  display: block;
 
  margin-left: auto;
  margin-right: auto;

}

.Sidebar {
  background-color: #d6002e;
  float: left;
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  clear:left;
  color: #750808;
}


.Logo {
  
  line-height: 5px;
  float: left;
  padding-left: 15px;
  background-color: #d6d6d6;
  width: 25%;
}

.welcome-logo {
  
  display: block;
  background-color: #eee;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 300px;
  padding: 15px;
  background-color: #d6d6d6;
}

.New-song {
  background-color: #d6d6d6;
  color: rgb(0, 0, 0);
  float: left;
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  clear:left;
  line-height: 8px;
}

.link-style {
  color:  #ffffff;
  
}